server 
{
    listen 80;
    
    server_name {{ app_hostnames }};
    
    access_log {{ nginx_app_log_dir }}/access.log;
    error_log {{ nginx_app_log_dir }}/error.log;
    
    root {{ app_web_dir }};
    
    include common;
    include media;

{% if app_rewrite_to %}
    rewrite ^/{{ app_rewrite_to }}/?(.*)$ /$1 permanent;

    location / {
        index {{ app_rewrite_to }};
        try_files $uri @rewriteapp;
    }
 
    location @rewriteapp {
        rewrite ^(.*)$ /{{ app_rewrite_to }}/$1 last;
    }
{% else %}    
    index index.php;
{% endif %}
    
    location ~ [^/]\.php(/|$) {
        try_files $uri =404;
        fastcgi_split_path_info ^(.+?\.php)(/.*)$;
        
        fastcgi_pass unix:/var/run/php-fpm/{{ app_name }}.sock;
        fastcgi_index index.php;
        
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PATH_TRANSLATED $document_root$fastcgi_path_info;        
        
        include fastcgi_params;
    }
}