[client]
socket = /var/lib/mysql/mysql.sock

[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
symbolic-links=0
port={{ mysql_port }}

{% if mysql_skip_networking %}
skip-networking
{% else %}
bind-address=0.0.0.0
{% endif %}

[mysqld_safe]
log-error=/var/log/mariadb/mysqld.log
pid-file=/var/run/mariadb/mysqld.pid
